<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    
    <style>
        body {
            background: linear-gradient(to bottom, #d1ab52, #07358f);
            display: flex;
            justify-content: center; align-items: center;
            width: 1920px; height: 100%;
        }

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        #formContent {
            background-color: #d1ab52;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>

<div class="wrapper">
    <div id="formContent">
        <h1>Iniciar Sesión</h1>
        <div class="fadeIn first">
            <img src="/images/usuario.jpg" id="icon" alt="Foto Usuario" class="img-fluid" />
        </div>

        <form action="@Url.Action("Inicio")" method="post" class="mt-4">
            <div class="form-group">
                <input type="text" id="login" class="fadeIn second form-control" name="login" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" id="password" class="fadeIn third form-control" name="login" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="submit" class="fadeIn fourth btn btn-primary btn-block" value="Log In">
            </div>
        </form>
    </div>
</div>

</body>
</html>

