<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body style="background: linear-gradient(to bottom, #d1ab52, #07358f);">

<div class="wrapper d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div id="formContent" style="background-color: #fff; padding: 30px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        
        <div class="fadeIn first">
            <img src="/images/user.jpg" id="icon" alt="Foto Usuario" class="img-fluid" />
        </div>

        <form action="@Url.Action("Inicio")" method="post" class="mt-4">
            <div class="form-group">
                <input type="text" id="login" class="fadeIn second form-control" name="login" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" id="password" class="fadeIn third form-control" name="login" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="submit" class="fadeIn fourth btn btn-primary btn-block" value="Log In">
            </div>
        </form>
    </div>
</div>

</body>
</html>
