USE [master]
GO
/****** Object:  Database [BDBoca]    Script Date: 7/11/2023 11:45:50 ******/
CREATE DATABASE [BDBoca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDBoca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDBoca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDBoca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDBoca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDBoca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDBoca]
GO
/****** Object:  User [alumno]    Script Date: 7/11/2023 11:45:50 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Entradas]    Script Date: 7/11/2023 11:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entradas](
	[EntradaID] [int] NOT NULL,
	[FechaPartido] [date] NOT NULL,
	[Precio] [int] NOT NULL,
	[Asiento] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Entradas] PRIMARY KEY CLUSTERED 
(
	[EntradaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Noticia]    Script Date: 7/11/2023 11:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Noticia](
	[Mail] [varchar](50) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[FechaPublicacion] [date] NOT NULL,
	[Contenido] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Noticia] PRIMARY KEY CLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registrarse]    Script Date: 7/11/2023 11:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrarse](
	[DNI] [int] NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Registrarse] PRIMARY KEY CLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Socios]    Script Date: 7/11/2023 11:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socios](
	[DNI] [int] NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[entradaID] [int] NULL,
 CONSTRAINT [PK_Socios] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Entradas] ([EntradaID], [FechaPartido], [Precio], [Asiento]) VALUES (1, CAST(N'2023-04-05' AS Date), 2000, N'f4')
INSERT [dbo].[Entradas] ([EntradaID], [FechaPartido], [Precio], [Asiento]) VALUES (2, CAST(N'2023-04-05' AS Date), 2000, N'e8')
INSERT [dbo].[Entradas] ([EntradaID], [FechaPartido], [Precio], [Asiento]) VALUES (3, CAST(N'2023-04-05' AS Date), 2000, N'a7')
GO
ALTER TABLE [dbo].[Noticia]  WITH CHECK ADD  CONSTRAINT [FK_Noticia_Registrarse] FOREIGN KEY([Mail])
REFERENCES [dbo].[Registrarse] ([Mail])
GO
ALTER TABLE [dbo].[Noticia] CHECK CONSTRAINT [FK_Noticia_Registrarse]
GO
ALTER TABLE [dbo].[Registrarse]  WITH CHECK ADD  CONSTRAINT [FK_Registrarse_Socios] FOREIGN KEY([DNI])
REFERENCES [dbo].[Socios] ([DNI])
GO
ALTER TABLE [dbo].[Registrarse] CHECK CONSTRAINT [FK_Registrarse_Socios]
GO
USE [master]
GO
