USE [master]
GO
/****** Object:  Database [BDBoca]    Script Date: 3/12/2023 23:01:54 ******/
CREATE DATABASE [BDBoca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDBoca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\BDBoca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDBoca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\BDBoca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDBoca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDBoca]
GO
/****** Object:  Table [dbo].[Entradas]    Script Date: 3/12/2023 23:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entradas](
	[EntradaID] [int] IDENTITY(1,1) NOT NULL,
	[Precio] [int] NOT NULL,
	[Asiento] [varchar](50) NOT NULL,
	[PartidoID] [int] NOT NULL,
	[Disponible] [bit] NOT NULL,
 CONSTRAINT [PK_Entradas] PRIMARY KEY CLUSTERED 
(
	[EntradaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Noticia]    Script Date: 3/12/2023 23:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Noticia](
	[NoticiaID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[FechaPublicacion] [date] NOT NULL,
	[Contenido] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Noticia] PRIMARY KEY CLUSTERED 
(
	[NoticiaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidos]    Script Date: 3/12/2023 23:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidos](
	[PartidoID] [int] IDENTITY(1,1) NOT NULL,
	[Fechapartido] [date] NOT NULL,
	[Rival] [varchar](50) NOT NULL,
	[Fotorival] [varchar](50) NULL,
 CONSTRAINT [PK_Partidos] PRIMARY KEY CLUSTERED 
(
	[PartidoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Socios]    Script Date: 3/12/2023 23:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socios](
	[DNI] [int] NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[EntradaID] [int] NULL,
 CONSTRAINT [PK_Registrarse] PRIMARY KEY CLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Entradas] ON 

INSERT [dbo].[Entradas] ([EntradaID], [Precio], [Asiento], [PartidoID], [Disponible]) VALUES (1, 2000, N'f4', 1, 0)
INSERT [dbo].[Entradas] ([EntradaID], [Precio], [Asiento], [PartidoID], [Disponible]) VALUES (2, 2000, N'e8', 1, 1)
INSERT [dbo].[Entradas] ([EntradaID], [Precio], [Asiento], [PartidoID], [Disponible]) VALUES (3, 2000, N'a7', 1, 1)
SET IDENTITY_INSERT [dbo].[Entradas] OFF
GO
SET IDENTITY_INSERT [dbo].[Partidos] ON 

INSERT [dbo].[Partidos] ([PartidoID], [Fechapartido], [Rival], [Fotorival]) VALUES (1, CAST(N'2023-12-12' AS Date), N'Riber', N'/img/riber.jpg')
INSERT [dbo].[Partidos] ([PartidoID], [Fechapartido], [Rival], [Fotorival]) VALUES (2, CAST(N'2023-12-14' AS Date), N'Independiente', N'/img/independiente.jpg')
SET IDENTITY_INSERT [dbo].[Partidos] OFF
GO
INSERT [dbo].[Socios] ([DNI], [Mail], [Contraseña], [EntradaID]) VALUES (47456324, N'pedrito12@gmail.com', N'Bokita23', NULL)
GO
ALTER TABLE [dbo].[Entradas]  WITH CHECK ADD  CONSTRAINT [FK_Entradas_Partidos] FOREIGN KEY([PartidoID])
REFERENCES [dbo].[Partidos] ([PartidoID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Entradas] CHECK CONSTRAINT [FK_Entradas_Partidos]
GO
ALTER TABLE [dbo].[Socios]  WITH CHECK ADD  CONSTRAINT [FK_Socios_Entradas] FOREIGN KEY([EntradaID])
REFERENCES [dbo].[Entradas] ([EntradaID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Socios] CHECK CONSTRAINT [FK_Socios_Entradas]
GO
USE [master]
GO
